{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}

<!-- Contact widget -->
<div class="row contact-widget">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
    {{ with $page.Content }}{{ . }}{{ end }}

    {{ if $page.Params.email_form }}

    {{ $post_action := "" }}
    {{ if eq $page.Params.email_form 1 }}
      {{ $post_action = "netlify" }}
    {{ else }}
      {{ if not site.Params.email }}