{{- define "main" -}}

{{ partial "page_header.html" . }}
<div class="universal-wrapper">

<div >
    <br>
        <h1>Maintenance</h1>

        <p>Last Updated: 19/07/2024</p>

        <ul>
            <li>GitHub Repository: <a href="https://github.com/maxdiluca/virtualrealitylab">Repo</a></li>
        </ul>

        <p>Things to do:</p>
        <ul>
            <li>
                <label>Update <strong>People</strong> Page</label>
            </li>

            <li>
                <label>Create funding and equipment pages</label>
            </li>
        </ul>

        <h2>Netlify</h2>
        Previous deployment process
        
        <a href="https://app.netlify.com/sites/virtualrealitylab/deploys">
            <img src="https://api.netlify.com/api/v1/badges/04360be3-92e3-4425-aa4f-a59e779d4831/deploy-status" alt="Netlify Status">
        </a>
        <br>
        Current deployment process
        
        
        <a href="https://app.netlify.com/sites/virtualrealitylab/deploys">
            <img src="https://api.netlify.com/api/v1/badges/c0235756-87af-4b4e-aad7-637d9a732f1d/deploy-status" alt="Netlify Status">
        </a>
      

    <div>
        <div>
            {{ $byLastMod :=  .Site.RegularPages.ByLastmod  }}
            {{ $recent := ($byLastMod | last 1000000).Reverse }}
            {{ $leastRecent := $byLastMod | last 1 }}
            <h2 id="last-updated">Last Updated</h2>
            {{ partial "maintenance-pages-table" $leastRecent }}

            <h2 id="last-updated">Recent Updates</h2>
            {{ partial "maintenance-pages-table" $recent }}
        </div>
    </div>
</div>

</div>
<meta http-equiv="refresh" content="5">

{{- end -}}