// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

body.page-wrapper #gateway-to-research + #publications {
  padding-top: 20px;
}

body.page-wrapper #publications.home-section {
  padding-top: 10px;
}

.article-style .myjams-logo-link {
  text-align: center;
}

.article-style .myjams-logo-link img {
  max-width: 280px;
  width: 45%;
}
