{{- define "main" -}}

{{/* Author profile page. */}}

{{ $author := path.Base (path.Split .Path).Dir }}
{{ if eq $author "authors" }}
  {{ $author = "" }}
{{ end }}
{{ if isset .Params "authors" }}
  {{ if not $author }}
    {{ if reflect.IsSlice .Params.authors }}
      {{ $author = index .Params.authors 0 }}
    {{ else }}
      {{ $author = .Params.authors }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $profile_page := . }}
{{ $has_profile := or .Content .Params.role .Params.organizations .Params.social .Params.interests .Params.education }}
{{ if not $has_profile }}
  {{ range where site.Pages "Section" "authors" }}
    {{ if and (eq (lower .Title) (lower $.Title)) .Params.user_groups }}
      {{ $profile_page = . }}
      {{ $has_profile = true }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not $has_profile }}
<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{/* Show the About widget if an account exists for this user. */}}
    {{ if $has_profile }}
      {{ partial "author_profile_current.html" $profile_page }}
    {{end}}

    {{ $query := where .Pages ".IsNode" false }}
    {{ $count := len $query }}
    {{ if $count }}
    <div class="article-widget content-widget-hr">
      <h3>{{ i18n "user_profile_latest" | default "Latest" }}</h3>
      <ul>
        {{ range $query }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</section>

{{- end -}}
